<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicDevel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <MusicDevel.Properties.Settings>
            <setting name="CnxStringHome" serializeAs="String">
                <value>Data Source=MV5;Initial Catalog=MyDemo;User ID=sa;Password=sasa</value>
            </setting>
        </MusicDevel.Properties.Settings>
    </applicationSettings>
</configuration>